# StableOps
An analysis of opportunities in stable coins

In [10]:
# There are multiple DEXs being built on various L2s that may offer substantially lower
# trading/gas fees than what current L1 DEXs and centralied exchanges are currently offering.
# For the purpose of this analysis, we will focus on identifying which pairs are the most 
# volatile. Determining where the trading is actually most profitable can be done at a later
# date.

In [11]:
# plot 3 year history of standard deviation. On the pairs with larger volume, there has been a
# significant decrease of volatility within the last few years. The lesser known stablecoins with 
# fewer markets and lower liquidity are seeing more volatility, which works better for our bot.

In [12]:
# USDC
# GUSD
# USDT
# PAXOS
# DAI
# sUSD

In [13]:
#The larger volume stablecoins have seen a decrease in volatility over the last x amount of time.
#The currency in other stablecoins is going to be difficult to chart, as eventually we will always 
#be settling in dollars. If we make 2% on a stablecoin yen play, but the difference between dollars
#and yen changes that much over a day, we could lose money.

In [130]:
import requests
import json
import pandas as pd
import os
import numpy as np
from time_utils import epoch_to_datetime

In [131]:
#USDC

In [132]:
USDC_url = 'https://api.coingecko.com/api/v3/coins/usd-coin/market_chart?vs_currency=usd&days=730&interval=daily'

In [133]:
USDC = requests.get(USDC_url).json()

In [134]:
USDC_df=pd.DataFrame(USDC)

In [138]:
for row in USDC_df['prices']:
    row.drop[0]
    print(USDC_df['prices'])

AttributeError: 'list' object has no attribute 'drop'

In [112]:
display(USDC_df)

,prices,market_caps,total_volumes
0,"[1588896000000, 0.9996850398559134]","[1588896000000, 722023647.2657845]","[1588896000000, 493511244.25911134]"
1,"[1588982400000, 0.9958660723562558]","[1588982400000, 721261346.0345861]","[1588982400000, 501028019.55683666]"
2,"[1589068800000, 0.9980518561448015]","[1589068800000, 722268679.6848058]","[1589068800000, 470239212.46421367]"
3,"[1589155200000, 1.0009524586031848]","[1589155200000, 746986294.5184163]","[1589155200000, 559220999.1340741]"
4,"[1589241600000, 0.9968589434492247]","[1589241600000, 745026108.0976496]","[1589241600000, 502404872.49638623]"
...,...,...,...
726,"[1651622400000, 0.9984317940780595]","[1651622400000, 49029382275.05414]","[1651622400000, 4451238317.79457]"
727,"[1651708800000, 0.9999476710243103]","[1651708800000, 48776655220.89988]","[1651708800000, 5029968482.610447]"
728,"[1651795200000, 0.9992701838558246]","[1651795200000, 48837550840.18622]","[1651795200000, 5846158975.013516]"
729,"[1651881600000, 0.9970394902574796]","[1651881600000, 48447145523.6587]","[1651881600000, 6065141274.48254]"
730,"[1651896116000, 0.9971061552206889]","[1651896116000, 48433193052.53838]","[1651896116000, 5914884037.0576935]"

In [64]:
#Gemeni Dollar

In [65]:
GUSD_url = 'https://api.coingecko.com/api/v3/coins/gemini-dollar/market_chart?vs_currency=usd&days=730&interval=daily'

In [66]:
GUSD = requests.get(GUSD_url).json()

In [69]:
GUSD_df=pd.DataFrame(GUSD)

In [70]:
display(GUSD_df)

,prices,market_caps,total_volumes
0,"[1588896000000, 0.9963025327550412]","[1588896000000, 5972148.51470024]","[1588896000000, 1198790.9982271919]"
1,"[1588982400000, 0.9907865127475941]","[1588982400000, 6180827.305776994]","[1588982400000, 1194008.9678319092]"
2,"[1589068800000, 0.9958313882729265]","[1589068800000, 6376956.164091448]","[1589068800000, 1028301.6796365744]"
3,"[1589155200000, 0.9958440165255981]","[1589155200000, 6512598.145422034]","[1589155200000, 3573519.8531179773]"
4,"[1589241600000, 0.9782977408525183]","[1589241600000, 6852361.123741387]","[1589241600000, 44053903.67995685]"
...,...,...,...
726,"[1651622400000, 1.0016330382611143]","[1651622400000, 221790483.23607937]","[1651622400000, 3289829.955838723]"
727,"[1651708800000, 1.0016269013419286]","[1651708800000, 218759951.984329]","[1651708800000, 2353236.206325953]"
728,"[1651795200000, 1.0006124652691828]","[1651795200000, 201938945.54334283]","[1651795200000, 11796671.422635866]"
729,"[1651881600000, 1.000597153353505]","[1651881600000, 199804808.69558844]","[1651881600000, 2618011.6065707235]"
730,"[1651896745000, 1.0004631340060905]","[1651896745000, 200632145.49775025]","[1651896745000, 2600090.0090346816]"

In [71]:
#USDT

In [74]:
USDT_url = 'https://api.coingecko.com/api/v3/coins/tether/market_chart?vs_currency=usd&days=730&interval=daily'

In [79]:
USDT = requests.get(USDT_url).json()

In [80]:
USDT_df = pd.DataFrame(USDT)

In [81]:
display(USDT_df)

,prices,market_caps,total_volumes
0,"[1588896000000, 1.001080796432648]","[1588896000000, 8079054026.436567]","[1588896000000, 68944822444.00212]"
1,"[1588982400000, 0.99840418842009]","[1588982400000, 8155833351.537392]","[1588982400000, 60270913930.14915]"
2,"[1589068800000, 1.0003064731018094]","[1589068800000, 8313422573.53834]","[1589068800000, 56552333548.64607]"
3,"[1589155200000, 1.0012429337783375]","[1589155200000, 8473215858.870962]","[1589155200000, 78389785215.82169]"
4,"[1589241600000, 0.9995631687396237]","[1589241600000, 8491686231.453566]","[1589241600000, 66424573913.48932]"
...,...,...,...
726,"[1651622400000, 1.001090151178248]","[1651622400000, 83241023585.97873]","[1651622400000, 42588775990.10183]"
727,"[1651708800000, 0.9996788744004061]","[1651708800000, 83185453774.38527]","[1651708800000, 58210506142.83146]"
728,"[1651795200000, 1.0003777855190839]","[1651795200000, 83270750870.97081]","[1651795200000, 69231991898.26894]"
729,"[1651881600000, 1.0007634262592542]","[1651881600000, 83284503885.03922]","[1651881600000, 62277908159.216255]"
730,"[1651897023000, 1.0003704638504887]","[1651897023000, 83240490577.12837]","[1651897023000, 59484495184.125916]"

In [82]:
#Paxos-Standard

In [85]:
USDP_url = 'https://api.coingecko.com/api/v3/coins/paxos-standard/market_chart?vs_currency=usd&days=730&interval=daily'

In [87]:
USDP = requests.get(PAXOS_url).json()

In [89]:
USDP_df = pd.DataFrame(USDP)

In [90]:
display(USDP_df)

,prices,market_caps,total_volumes
0,"[1588896000000, 0.9970582383246737]","[1588896000000, 261002693.29933724]","[1588896000000, 845708571.814739]"
1,"[1588982400000, 1.0015018395396196]","[1588982400000, 259254089.01061025]","[1588982400000, 725957826.8837974]"
2,"[1589068800000, 1.0069329814535428]","[1589068800000, 257869379.04981962]","[1589068800000, 705372097.4425899]"
3,"[1589155200000, 1.0018493638915973]","[1589155200000, 250087635.46300748]","[1589155200000, 826056196.2940578]"
4,"[1589241600000, 0.9995101980655464]","[1589241600000, 243939684.21885476]","[1589241600000, 732355969.2631208]"
...,...,...,...
726,"[1651622400000, 1.0008865690879967]","[1651622400000, 1008158654.4042337]","[1651622400000, 9590055.15981935]"
727,"[1651708800000, 1.0005820083119927]","[1651708800000, 993434613.7736198]","[1651708800000, 17977907.97379824]"
728,"[1651795200000, 1.0019891359935578]","[1651795200000, 985641722.8730509]","[1651795200000, 47817032.07482928]"
729,"[1651881600000, 1.0012232440852]","[1651881600000, 986206217.093559]","[1651881600000, 20762565.889239408]"
730,"[1651897312000, 1.0018918559857164]","[1651897312000, 986511979.3644098]","[1651897312000, 24220750.08727434]"

In [91]:
#DAI

In [92]:
DAI_url = 'https://api.coingecko.com/api/v3/coins/dai/market_chart?vs_currency=usd&days=730&interval=daily'

In [95]:
DAI = requests.get(DAI_url).json()

In [96]:
DAI_df = pd.DataFrame(DAI)

In [97]:
display(DAI_df)

,prices,market_caps,total_volumes
0,"[1588896000000, 1.0030852896404625]","[1588896000000, 111873856.59437445]","[1588896000000, 77888429.47258253]"
1,"[1588982400000, 0.9987159952440999]","[1588982400000, 111758621.32927436]","[1588982400000, 73958761.54194084]"
2,"[1589068800000, 1.0031511900901189]","[1589068800000, 112704063.64743033]","[1589068800000, 9980887.721365243]"
3,"[1589155200000, 1.0057287271683313]","[1589155200000, 110301832.60521017]","[1589155200000, 42628066.31115819]"
4,"[1589241600000, 1.0065059511504812]","[1589241600000, 109685940.28924671]","[1589241600000, 16520206.260915466]"
...,...,...,...
726,"[1651622400000, 1.0012211545703311]","[1651622400000, 8289733382.762127]","[1651622400000, 240102463.81054604]"
727,"[1651708800000, 1.0000782701095614]","[1651708800000, 8197809048.574296]","[1651708800000, 308098273.36314917]"
728,"[1651795200000, 1.000992097323179]","[1651795200000, 8214309359.329994]","[1651795200000, 369826021.8770639]"
729,"[1651881600000, 1.0007515059156074]","[1651881600000, 8159344682.345591]","[1651881600000, 389875496.26869035]"
730,"[1651897341000, 1.0001831396116687]","[1651897341000, 8140915787.018152]","[1651897341000, 389901025.0537242]"

In [100]:
# Synthetix USD sUSD

In [101]:
sUSD_url = 'https://api.coingecko.com/api/v3/coins/nusd/market_chart?vs_currency=usd&days=730&interval=daily'

In [102]:
sUSD = requests.get(sUSD_url).json()

In [103]:
sUSD_df = pd.DataFrame(sUSD)

In [104]:
display(sUSD_df)

,prices,market_caps,total_volumes
0,"[1588896000000, 1.0011288517404142]","[1588896000000, 6681666.569321373]","[1588896000000, 66920.17637923233]"
1,"[1588982400000, 0.9885011089436629]","[1588982400000, 6808013.249700912]","[1588982400000, 72760.4419314303]"
2,"[1589068800000, 0.9939766054585232]","[1589068800000, 6945831.264574]","[1589068800000, 39008.83565524198]"
3,"[1589155200000, 1.0045059252668185]","[1589155200000, 6818653.580173044]","[1589155200000, 107182.22982418344]"
4,"[1589241600000, 1.0018840446542343]","[1589241600000, 6968239.108764949]","[1589241600000, 78868.71114484918]"
...,...,...,...
726,"[1651622400000, 0.9687729109018036]","[1651622400000, 110497663.91188961]","[1651622400000, 5550069.155198983]"
727,"[1651708800000, 0.9928566622150169]","[1651708800000, 109213656.63040611]","[1651708800000, 9676519.562657174]"
728,"[1651795200000, 0.9745505503891481]","[1651795200000, 109559160.59655412]","[1651795200000, 9186060.819939155]"
729,"[1651881600000, 0.9478186683872204]","[1651881600000, 109628760.11015122]","[1651881600000, 5868534.9944982845]"
730,"[1651897718000, 0.9396258870188434]","[1651897718000, 108513265.2586834]","[1651897718000, 5307386.9257732835]"