# StableOps
An analysis of opportunities in stable coins

In [374]:
# get 4 years of daily data

#got 3 years of data because a lot weren't around for 4 years

In [375]:
# There are multiple DEXs being built on various L2s that may offer substantially lower
# trading/gas fees than what current L1 DEXs and centralied exchanges are currently offering.
# For the purpose of this analysis, we will focus on identifying which pairs are the most 
# volatile. Determining where the trading is actually most profitable can be done at a later
# date.

In [376]:
# plot 3 year history of standard deviation. On the pairs with larger volume, there has been a
# significant decrease of volatility within the last few years. The lesser known stablecoins with 
# fewer markets and lower liquidity are seeing more volatility, which works better for our bot.

In [377]:
# USDC
# USDT
# PAXOS
# DAI
# sUSD
# GUSD

In [378]:
#The larger volume stablecoins have seen a decrease in volatility over the last x amount of time.
#The currency in other stablecoins is going to be difficult to chart, as eventually we will always 
#be settling in dollars. If we make 2% on a stablecoin yen play, but the difference between dollars
#and yen changes that much over a day, we could lose money.

In [328]:
import requests
import json
import pandas as pd
import os
import numpy as np
from time_utils import epoch_to_datetime

In [356]:
#USDC

In [370]:
USDC_url = 'https://api.coingecko.com/api/v3/coins/usd-coin/market_chart?vs_currency=usd&days=1095&interval=daily'

In [371]:
USDC = requests.get(USDC_url).json()

In [372]:
USDC_df=pd.DataFrame(USDC)

In [373]:
display(USDC_df)

,prices,market_caps,total_volumes
0,"[1557360000000, 1.007085574813543]","[1557360000000, 316455095.76441884]","[1557360000000, 192823071.0345484]"
1,"[1557446400000, 1.0080036771676792]","[1557446400000, 327655413.01918083]","[1557446400000, 369915982.7765852]"
2,"[1557532800000, 1.007717650515269]","[1557532800000, 330250263.7070247]","[1557532800000, 1466656742.125997]"
3,"[1557619200000, 1.0011829053575425]","[1557619200000, 328135288.67936736]","[1557619200000, 2223945269.7942276]"
4,"[1557705600000, 1.0020654742153063]","[1557705600000, 327956580.31626]","[1557705600000, 1613701714.7212486]"
...,...,...,...
1091,"[1651622400000, 0.9984317940780595]","[1651622400000, 49029382275.05414]","[1651622400000, 4451238317.79457]"
1092,"[1651708800000, 0.9999476710243103]","[1651708800000, 48776655220.89988]","[1651708800000, 5029968482.610447]"
1093,"[1651795200000, 0.9992701838558246]","[1651795200000, 48837550840.18622]","[1651795200000, 5846158975.013516]"
1094,"[1651881600000, 0.9970394902574796]","[1651881600000, 48447145523.6587]","[1651881600000, 6065141274.48254]"
1095,"[1651957330000, 0.9969821332178844]","[1651957330000, 48476415602.70769]","[1651957330000, 3542524040.770176]"

In [392]:
# The data is returned with epoch time listed as part of the array for every list item. We want to set our index as epoch time, and then change that to DateTime for clarity. 
# The Epoch time also had extra zeros included at the end, which skewed it when converted to regular Datetime. We will address those issues with the following functions:

In [393]:
def extract_epoch_time(item):
    # item is expected to be an array where the 1st element in the array is the epoch time. 
    # this function returns the epoch time.
    return item[0]

def extract_value(item):
    # item is expected to be an array where the 2nd element in the array is the value. 
    # this function returns the value.
    return item[1]

In [394]:
def coin_gecko_cleaner(url_to_coin):
    """
    Converts Coin Gecko's URL to a clean dataframe.
    
    Parameters:
        url_to_coin (str): Coin Gecko's API url string, must be a str
    """
    coin_response = requests.get(url_to_coin).json()
    df = pd.DataFrame(coin_response)
    df['time'] = df['prices'].apply(extract_epoch_time)
    df['prices']= df['prices'].apply(extract_value)
    df['market_caps']=df['market_caps'].apply(extract_value)
    df['total_volumes']=df['total_volumes'].apply(extract_value)
    df['time'] = df['time']/1000
    df['time']=df['time'].apply(epoch_to_datetime)
    df.set_index('time', inplace=True)
    return df

In [395]:
coin_gecko_cleaner(USDC_url)

                             prices   market_caps  total_volumes
time
2019-05-08 20:00:00-04:00  1.007086  3.164551e+08   1.928231e+08
2019-05-09 20:00:00-04:00  1.008004  3.276554e+08   3.699160e+08
2019-05-10 20:00:00-04:00  1.007718  3.302503e+08   1.466657e+09
2019-05-11 20:00:00-04:00  1.001183  3.281353e+08   2.223945e+09
2019-05-12 20:00:00-04:00  1.002065  3.279566e+08   1.613702e+09
...                             ...           ...            ...
2022-05-03 20:00:00-04:00  0.998432  4.902938e+10   4.451238e+09
2022-05-04 20:00:00-04:00  0.999948  4.877666e+10   5.029968e+09
2022-05-05 20:00:00-04:00  0.999270  4.883755e+10   5.846159e+09
2022-05-06 20:00:00-04:00  0.997039  4.844715e+10   6.065141e+09
2022-05-07 17:02:10-04:00  0.996982  4.847642e+10   3.542524e+09

[1096 rows x 3 columns]

In [298]:
#Gemeni Dollar

In [379]:
GUSD_url = 'https://api.coingecko.com/api/v3/coins/gemini-dollar/market_chart?vs_currency=usd&days=1095&interval=daily'

In [380]:
coin_gecko_cleaner(GUSD_url)

                             prices   market_caps  total_volumes
time
2019-05-08 20:00:00-04:00  1.002055  3.458823e+07   2.135094e+07
2019-05-09 20:00:00-04:00  1.001054  3.314168e+07   2.811750e+07
2019-05-10 20:00:00-04:00  1.000215  3.176756e+07   2.776339e+07
2019-05-11 20:00:00-04:00  1.003289  3.162917e+07   3.173680e+07
2019-05-12 20:00:00-04:00  0.998373  3.117866e+07   2.961436e+07
...                             ...           ...            ...
2022-05-03 20:00:00-04:00  1.001633  2.217905e+08   3.289830e+06
2022-05-04 20:00:00-04:00  1.001627  2.187600e+08   2.353236e+06
2022-05-05 20:00:00-04:00  1.000612  2.019389e+08   1.179667e+07
2022-05-06 20:00:00-04:00  1.000597  1.998048e+08   2.618012e+06
2022-05-07 17:03:25-04:00  1.000812  1.995337e+08   1.877068e+06

[1096 rows x 3 columns]

In [381]:
display(GUSD_df)

                             prices   market_caps  total_volumes
time
2020-05-07 20:00:00-04:00  0.996303  5.972149e+06   1.198791e+06
2020-05-08 20:00:00-04:00  0.990787  6.180827e+06   1.194009e+06
2020-05-09 20:00:00-04:00  0.995831  6.376956e+06   1.028302e+06
2020-05-10 20:00:00-04:00  0.995844  6.512598e+06   3.573520e+06
2020-05-11 20:00:00-04:00  0.978298  6.852361e+06   4.405390e+07
...                             ...           ...            ...
2022-05-03 20:00:00-04:00  1.001633  2.217905e+08   3.289830e+06
2022-05-04 20:00:00-04:00  1.001627  2.187600e+08   2.353236e+06
2022-05-05 20:00:00-04:00  1.000612  2.019389e+08   1.179667e+07
2022-05-06 20:00:00-04:00  1.000597  1.998048e+08   2.618012e+06
2022-05-07 16:37:05-04:00  1.001980  1.996263e+08   1.875163e+06

[731 rows x 3 columns]

In [382]:
#USDT

In [383]:
USDT_url = 'https://api.coingecko.com/api/v3/coins/tether/market_chart?vs_currency=usd&days=1095&interval=daily'

In [384]:
coin_gecko_cleaner(USDT_url)

                             prices   market_caps  total_volumes
time
2019-05-08 20:00:00-04:00  0.996798  2.049871e+09   1.817383e+10
2019-05-09 20:00:00-04:00  0.998303  2.055746e+09   1.909668e+10
2019-05-10 20:00:00-04:00  0.999370  2.055140e+09   2.477482e+10
2019-05-11 20:00:00-04:00  1.002394  2.066121e+09   3.824139e+10
2019-05-12 20:00:00-04:00  0.998987  2.053321e+09   3.727107e+10
...                             ...           ...            ...
2022-05-03 20:00:00-04:00  1.001090  8.324102e+10   4.258878e+10
2022-05-04 20:00:00-04:00  0.999679  8.318545e+10   5.821051e+10
2022-05-05 20:00:00-04:00  1.000378  8.327075e+10   6.923199e+10
2022-05-06 20:00:00-04:00  1.000763  8.328450e+10   6.227791e+10
2022-05-07 17:02:15-04:00  0.999792  8.334845e+10   3.679660e+10

[1095 rows x 3 columns]

In [315]:
#Paxos-Standard

In [385]:
USDP_url = 'https://api.coingecko.com/api/v3/coins/paxos-standard/market_chart?vs_currency=usd&days=1095&interval=daily'

In [386]:
coin_gecko_cleaner(USDP_url)

                             prices   market_caps  total_volumes
time
2019-05-08 20:00:00-04:00  1.004883  1.806855e+08   2.837055e+08
2019-05-09 20:00:00-04:00  1.003729  1.823918e+08   2.316238e+08
2019-05-10 20:00:00-04:00  1.006850  1.924217e+08   2.426309e+09
2019-05-11 20:00:00-04:00  1.002934  1.911196e+08   1.965774e+09
2019-05-12 20:00:00-04:00  1.002629  1.936485e+08   2.234443e+09
...                             ...           ...            ...
2022-05-03 20:00:00-04:00  1.000887  1.008159e+09   9.590055e+06
2022-05-04 20:00:00-04:00  1.000582  9.934346e+08   1.797791e+07
2022-05-05 20:00:00-04:00  1.001989  9.856417e+08   4.781703e+07
2022-05-06 20:00:00-04:00  1.001223  9.862062e+08   2.076257e+07
2022-05-07 17:04:18-04:00  1.001103  9.865507e+08   6.222709e+06

[1096 rows x 3 columns]

In [387]:
#DAI

In [388]:
DAI_url = 'https://api.coingecko.com/api/v3/coins/dai/market_chart?vs_currency=usd&days=1095&interval=daily'

In [389]:
coin_gecko_cleaner(DAI_url)

                             prices   market_caps  total_volumes
time
2019-11-18 19:00:00-05:00  1.000651  1.437646e+06   8.727642e+05
2019-11-19 19:00:00-05:00  0.995411  6.945898e+06   4.841469e+06
2019-11-20 19:00:00-05:00  0.991591  8.989928e+06   1.007820e+06
2019-11-21 19:00:00-05:00  0.991102  1.249487e+07   3.679540e+06
2019-11-22 19:00:00-05:00  0.992850  1.439175e+07   7.201905e+06
...                             ...           ...            ...
2022-05-03 20:00:00-04:00  1.001221  8.289733e+09   2.401025e+08
2022-05-04 20:00:00-04:00  1.000078  8.197809e+09   3.080983e+08
2022-05-05 20:00:00-04:00  1.000992  8.214309e+09   3.698260e+08
2022-05-06 20:00:00-04:00  1.000752  8.159345e+09   3.898755e+08
2022-05-07 17:02:12-04:00  1.000730  8.036011e+09   1.930112e+08

[902 rows x 3 columns]

In [348]:
# Synthetix USD sUSD

In [390]:
sUSD_url = 'https://api.coingecko.com/api/v3/coins/nusd/market_chart?vs_currency=usd&days=1095&interval=daily'

In [391]:
coin_gecko_cleaner(sUSD_url)

                             prices   market_caps  total_volumes
time
2019-05-08 20:00:00-04:00  0.991429  1.342789e+06   9.087531e+04
2019-05-09 20:00:00-04:00  0.997468  1.301751e+06   1.125935e+05
2019-05-10 20:00:00-04:00  0.998572  1.292684e+06   1.057653e+05
2019-05-11 20:00:00-04:00  0.965760  1.436722e+06   1.565773e+05
2019-05-12 20:00:00-04:00  0.976326  1.278482e+06   1.565070e+05
...                             ...           ...            ...
2022-05-03 20:00:00-04:00  0.968773  1.104977e+08   5.550069e+06
2022-05-04 20:00:00-04:00  0.992857  1.092137e+08   9.676520e+06
2022-05-05 20:00:00-04:00  0.974551  1.095592e+08   9.186061e+06
2022-05-06 20:00:00-04:00  0.947819  1.096288e+08   5.868535e+06
2022-05-07 17:04:38-04:00  0.944553  1.094237e+08   8.471896e+05

[1096 rows x 3 columns]